@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-color: #11999e;
  --secondary-color: #95e1d3;
  --dark-color: #252a34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: var(--primary-color);
  padding: 1rem;
  width: 100%;
  color: white;
}
.navHeading {
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 0 1rem 0;
}
.link-head {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
p {
  font-weight: bold;
  padding: 1rem;
}
#bill-amount,
#cash-given {
  padding: 0.6rem 1rem;
  border: 2px solid var(--primary-color);
  width: 100%;
  max-width: 258px;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border-radius: 1rem;
}
.hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
  padding: 1rem;
}
#btn-next,
#btn-check {
  padding: 0.7rem 0.1rem;
  border: none;
  border-radius: 0.5rem;
  margin: auto;
  cursor: pointer;
  display: block;
  font-size: large;
  outline: #fff;
  width: 5rem;
  background-color: var(--primary-color);
  color: #fff;
  outline: none;
}

.btnCenter {
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
}
h1 {
  text-align: center;
}
label {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0.3rem;
  margin: auto;
  text-align: center;
  align-items: center;
}
th,
td,
table {
  border: 2px solid var(--secondary-color);
  padding: 0.5rem;
  border-collapse: collapse;
}
.change {
  margin-top: 1rem;
  padding: 1rem;
}
.next-content {
  flex-direction: column;
}
.display-box {
  max-width: 500px;
  margin: auto;
}
.change-box {
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  margin: auto;
}
#error-msg {
  color: #ff4848;
}
.footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--primary-color);
  width: 100%;
}
ul,
li {
  display: inline;
  padding-left: 0.5rem;
}
.icons {
  width: 40px;
  padding: 0.3rem;
}
